
@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barriecito|Cabin+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barriecito|Cabin+Sketch|Reenie+Beanie&display=swap');

#welcome{
background-image:url(https://i.ibb.co/t2L8cHw/portadafinal.jpg);
background-repeat: no-repeat;
height: 95vh;
background-size:100% 100%;
background-attachment: fixed;
text-align:center;
}


h1{
  font-family: 'Barriecito', cursive;
  display: inline-block;
  position: relative;
   color: #FFFFFF;
  line-height: 300px;
  font-size: 50px;

 }

   h1::after, h1::before{
     content:"";
     position: absolute;
     width: 1100px;
     height: 3px;
     background-color: currentColor;
     top:0.06em;
     transition:all 0.2 ease-in;
       }

 h1::before{
   left:-140px;
 }

 h1::after{
   left:-140px;
 }

header{
  color: #FFFFFF;
  align-content: center;
  align-items: center;
}

p{
  color: #FFFFFF;
  line-height: 30px;
  font-family: 'Reenie Beanie', cursive;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	width: 95%;
  	height: 20%;
  	margin: auto;
}

.knowMore{
  background-color: transparent; /* Green */
    border: 2px solid #00FF00;
    color: #00FF00;
    padding: 2px 32px;
    font-size: 30px;
    border-radius:6px;
    font-family: 'Reenie Beanie', cursive;
    font-weight:bold;
    float:none;
}

.firstButton{
  background-color: transparent;
    border: 2px solid #FFFFFF;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    position:absolute;
    top:250px;
font-family: 'Reenie Beanie', cursive;
font-size: 30px;
  font-weight:lighter;
}


#rick{
  /*background-image: url(https://i.ibb.co/bX019xm/rickportada.jpg);*/
  background-image: url(https://media.giphy.com/media/3o85xCx3GAeR9RtF7y/giphy.gif);
  background-repeat: no-repeat;
  height:95vh;
  background-size: 100% 100%;
  text-align: center;
}

#lookFor{
  background-image: url(https://wallpapercave.com/wp/wp1822760.jpg);
  background-repeat: no-repeat;
  height:95vh;
  background-size: 100% 100%;
}

.names{
  background-color: transparent; /* Green */
    border: 2px solid #000000;
    color: #000000;
    padding: 2px 32px;
    margin-bottom: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    text-decoration-color: : white;
font-family: 'Reenie Beanie', cursive;
font-size: 25px;
    font-weight:lighter;
}

.dead{
  background-color: transparent; /* Green */
    border: 2px solid #000000;
    color:#000000;
    padding: 2px 32px;
    margin-bottom: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    text-decoration-color: : white;
font-family: 'Reenie Beanie', cursive;
font-size: 25px;
    font-weight:lighter;
}

.alive{
  background-color: transparent; /* Green */
    border: 2px solid #000000;
    color: #000000;
    padding: 2px 32px;
    margin-bottom: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    text-decoration-color: : white;
font-family: 'Reenie Beanie', cursive;
font-size: 25px;
    font-weight:lighter;
}

.aliens{
  background-color: transparent; /* Green */
    border: 2px solid #000000;
    color: #000000;
    padding: 2px 32px;
    margin-bottom: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    text-decoration-color: : white;
font-family: 'Reenie Beanie', cursive;
font-size: 25px;
    font-weight:lighter;
}

.origin{
  background-color: transparent; /* Green */
    border: 2px solid #000000;
    color: #000000;
    padding: 2px 32px;
    margin-bottom: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    text-decoration-color: : white;
font-family: 'Reenie Beanie', cursive;
font-size: 25px;
  font-weight:lighter;
}

.female{
  background-color: transparent; /* Green */
    border: 2px solid #000000;
    color: #000000;
    padding: 2px 32px;
    margin-bottom: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    text-decoration-color: : white;
font-family: 'Reenie Beanie', cursive;
font-size: 25px;
    font-weight:lighter;
}

.male{
  background-color: transparent; /* Green */
    border: 2px solid #000000;
    color: #000000;
    padding: 2px 32px;
    margin-bottom: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    text-decoration-color: : white;
font-family: 'Reenie Beanie', cursive;
font-size: 25px;
  font-weight:lighter;
}

.humans{
  background-color: transparent; /* Green */
    border: 2px solid #000000;
    color: #000000;
    padding: 2px 32px;
    margin-bottom: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    text-decoration-color: : white;
font-family: 'Reenie Beanie', cursive;
font-size: 25px;
    font-weight:lighter;
}

.episode{
  background-color: transparent; /* Green */
    border: 2px solid #000000;
    color: #000000;
    padding: 2px 32px;
    margin-bottom: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    text-decoration-color: : white;
    font-family: 'Reenie Beanie', cursive;
    font-size: 25px;
      font-weight:lighter;
    }

    .ord{
      background-color: transparent; /* Green */
        border: 2px solid #000000;
        color: #000000;
        padding: 2px 32px;
        margin-bottom: right;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 6px;
        text-decoration-color: : white;
        font-family: 'Reenie Beanie', cursive;
        font-size: 25px;
          font-weight:lighter;
        }


#lastPage{
background-image: url(https://media.giphy.com/media/fLiCs4dtSYUx2/giphy.gif);
  /*background-image:url(https://i.ibb.co/g4F2rcP/thumb-1920-1020142.jpg);*/
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment:fixed;
  font-family: 'Reenie Beanie', cursive;
  font-size: 25px;
  color:black;
  font-weight: bold;
}






.back{
  background-color: grey; /* Green */
    border: 2px solid #000000;
    color: #FFFFFF;
    padding: 2px 32px;
    margin-bottom: right;
    text-decoration: none;
    display:inline-flex;
        border-radius: 6px;
    text-decoration-color: : red;
font-family: 'Reenie Beanie', cursive;
font-size: 25px;
  font-weight: bold;
}

#porcent{
  background-color: #FFFFFF;
  background-attachment: fixed;
  border-bottom: black;
  color: black;
  font-family: 'Barriecito', cursive;
  font-size: 50px;
  line-height: 100px;
  align:center;
  }


/*@media screen and (max width: 400px){
  #all{
    width: 100%;
  }
  }
