header{
/* Portada */
X: -589.37px
Y: -417px
W: 734.57px
H: 537.6px
Rotation: -89.85°
Stroke Color Style: Gray 6
Stroke: Solid
#F2F2F2
Align: (mixed)
Width: 1px
Fill: Image
File Name: universe.png
Scale Mode: Fill
Effect: Inner Shadow
Radius: 4px
Offset: 0px, 4px
rgba(0, 0, 0, 0.25)
}
